<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="pl.mobilla.androidleaks"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk android:minSdkVersion="8"/>
    <uses-permission android:name="com.android.vending.CHECK_LICENSE" />
    <application android:label="@string/app_name" android:icon="@drawable/ic_launcher">
        <activity android:name="LeakListActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".AnimationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity android:name=".DialogActivity"/>
        <activity android:name=".RomanianGuyLeak"/>
        <activity android:name=".BitmapLeak"/>
        <activity android:name=".BitmapOptimizedLeak"/>
        <activity android:name=".ContentProviderLeak"/>
        <activity android:name=".security.SecurityLeaks">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".security.SharedPrefsLeak"/>
        <activity android:name=".security.StringEncryption"/>
        <activity android:name=".HandlerLeak"/>
        <activity android:name=".ThreadLeak"/>
        <activity android:name=".StaticLeak"/>
        <activity android:name=".lvl.LVLActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <receiver android:name=".security.BroadcastLeak">
            <intent-filter>
                <action android:name="pl.mobilla.androidleaks.security"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>
